<app-menu></app-menu>
<div class="pagina">
   <header>
        <h1> Administração | Cadastro de Materiais </h1>
        </header>
        <form [formGroup]="material">
            <div>
            <mat-form-field appearance="outline" color="accent"> 
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent"> 
                <mat-label>Valor</mat-label>
                <input matInput formControlName="valor" >
            </mat-form-field>
          </div>

          <div>
          <mat-form-field appearance="outline" color="accent"> 
            <mat-label>Fornecedor</mat-label>
            <input matInput formControlName="fornecedor">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent"> 
            <mat-label>Tipo</mat-label>
            <input matInput formControlName="tipo" >
        </mat-form-field>
          </div>
    
    <div class="controles">
        <button mat-raised-button [disabled]="material.enabled"(click)="onIncluir()">Incluir</button>
        <button mat-raised-button [disabled]="material.invalid"(click)="onSalvar()">Salvar</button>
        <button mat-raised-button [disabled]="material.disabled"(click)="onCancelar()">Cancelar</button>
        </div>
        </form>
        <div class="relatorio">
        <h2>Cadastros de Material</h2>
        <table>
            <tr>
                <th>Ação</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Fornecedor</th>
                <th>Tipo</th>
            </tr>
            <tr *ngFor=" let material of relatorio ">
                <td><button>Excluir</button></td>
                <td>{{material.nome}} </td> <td> {{material.valor}}</td>
                <td>{{material.fornecedor}}</td>
                <td>{{material.tipo}}</td>
                
            </tr>
        </table>    
        </div> 
</div>


    

   