<app-menu></app-menu>
<div class="pagina">
   <header>
        <h1> Administração | Cadastro de Movimentação </h1>
        </header>
        <form [formGroup]="movimento">
            <div>
            <mat-form-field appearance="outline" color="accent"> 
                <mat-label>Tipo</mat-label>
                <input matInput formControlName="tipo" >
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" color="accent"> 
                <mat-label>Produto</mat-label>
                <input matInput formControlName="produto" >
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent"> 
                <mat-label>Quantidade</mat-label>
                <input matInput formControlName="quantidade" >
            </mat-form-field>
          </div>

          
    
    <div class="controles">
        <button mat-raised-button [disabled]="movimento.enabled"(click)="onIncluir()">Incluir</button>
        <button mat-raised-button [disabled]="movimento.invalid"(click)="onSalvar()">Salvar</button>
        <button mat-raised-button [disabled]="movimento.disabled"(click)="onCancelar()">Cancelar</button>
        </div>
        </form>
        <div class="relatorio">
        <h2>Cadastros  Movimentação</h2>
        <table>
            <tr>
                <th>Ação</th>
                <th>Data de movimentação</th>
                <th>Produto</th>
                <th>Tipo</th>
                <th>Quantidade</th>
                
            </tr>
            <tr *ngFor=" let movimento of relatorio ">
                <td><button>Excluir</button></td>
                <td>{{movimento.dt_movimentacao}} </td> 
                <td>{{movimento.descricao}} </td> 
                <td> {{movimento.ds_tipo}}</td>
                <td> {{movimento.quantidade}}</td>
                
            </tr>
        </table>    
        </div> 
</div>


    

   