.pagina{
    width:calc(86vw - 30px);
    height: calc(100% - 30px);
    //border: 1px red solid;
    padding:15px;
    background: url('/assets/img/tangerinas.jpg');
    background-repeat: no-repeat ;
    background-size:200vh ;
    background-position: center ;
    
     header{
        width: 100%;
        height:10vh;
        color: rgb(225, 252, 107) ;
        h1{
            font-family: arial;
            font-size: 3em;
            
        }
         
         
    }

    .relatorio{
        width: fit-content;
        margin-left:15px;
        padding:20px;
        //border:1px blue solid;
        background-color:rgba(25, 75, 42, 0.2);
        border-radius: 5px;
        color: rgb(225, 252, 107);
        h1{
            padding:2px;
            margin:0;
            text-align: center;
        }
        table{
            min-width: 300px;
        }
    }
    

button{
    margin-right: 15px;
    background-color: rgb(153, 219, 91);
}

}