.sidebar {
    width: 250px;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #30502cb0;
    color: #ECF0F1;
    padding: 0px;
   
    
    header {
        h1 {
            
            font-size: 1.5em;
            margin: 2px;
        }
    }
    
    .logo{
        display: flex;
        align-items: center;
        margin-right: 18px;
    }

    img{
        width:190px ;
        height:190px ;
    }
    nav {
        details {
            margin-bottom: 10px;
            
            summary {
                cursor: pointer;
                font-size: 1.2em;
                padding: 10px;
                background-color: #73c02b ;
                border-radius: 5px;
                list-style: none;
                user-select: none;

                &:hover {
                    background-color: goldenrod;
                }
            }
            
            ul {
                margin: 10px 0 0 20px;
                padding: 0;
                
                li {
                    margin: 5px 0;
                    
                    a {
                        text-decoration: none;
                        color: #ECF0F1;
                        
                        &:hover {
                            color: #BDC3C7;
                        }
                    }
                }
            }
        }
    }
    
    footer {
        button.logout {
            width: 100%;
            padding: 10px;
            background-color: #E74C3C;
            color: #ECF0F1;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            
            &:hover {
                background-color: #73c02b;
            }
        }
    }
}

